[submodule "homework/python_advanced_hw"]
	path = homework/python_advanced_hw
	url = https://github.com/ThomasJager99/python_advanced_hw.git
[submodule "homework/python_advanced_hw_django"]
	path = homework/python_advanced_hw_django
	url = https://github.com/ThomasJager99/python_advanced_hw_django.git
