[submodule "homework/python_advanced_hw"]
	path = homework/python_advanced_hw
	url = https://github.com/ThomasJager99/python_advanced_hw.git
[submodule "homework/python_advanced_hw_django"]
	path = homework/python_advanced_hw_django
	url = https://github.com/ThomasJager99/python_advanced_hw_django.git
[submodule "homework/community_pulse"]
	path = homework/community_pulse
	url = https://github.com/ThomasJager99/community_pulse.git
[submodule "homework/django_lessons"]
	path = homework/django_lessons
	url = https://github.com/ThomasJager99/django_lessons.git
